{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weatherapp</title>
    <link rel="stylesheet" href= "{% static 'myapp/index.css' %}"/>

  </head>
  <body>
	<form method = "POST">
        {% csrf_token %}
        <input type="text" name = "city1" placeholder = "City1">
        <input type="text" name = "city2" placeholder = "City2">
        <button type = "submit">CompareWeather</button>
    </form>

    <div class="comparison_container">
        {% if weatherdata1 %}
       
        <div class = "city-container">
            {% include 'myapp/cityweather.html' with weather_data=weatherdata1  %}
        </div>

        {% endif %}

        {% if weatherdata2 %}
        
        <div class = "city-container">
            {% include 'myapp/cityweather.html' with weather_data=weatherdata2  %}
        </div>
        {% endif %}
    </div>
  </body>
</html>